@import "tailwindcss";

@theme inline {
  --color-off-white: #f0ede8;
  --color-grey: #888888;
  --font-sans: var(--font-syne);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: #f0ede8;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

::selection {
  background: #ffffff;
  color: #000000;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 2px;
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }
  .no-print {
    display: none !important;
  }
}
